# Real-Time & Config (Member 1 - You)
/backend/src/main/java/com/ipl/auction/config/ @srijansrivastava1234

# Backend REST APIs (Member 2)
/backend/src/main/java/com/ipl/auction/controller/ amitkumarrajput1133-oss
/backend/src/main/java/com/ipl/auction/service/ amitkumarrajput1133-oss

# Database & Entities (Member 3 - Anshika Pandey)
/backend/src/main/java/com/ipl/auction/model/ anshikapandey-bit
/backend/src/main/java/com/ipl/auction/repository/ anshikapandey-bit

# Frontend UI Components (Member 4 - Akhilesh Sharma)
/frontend/src/components/ sharmaakhilesh8273-lgtm 

# Frontend State & WebSockets Hooks (Member 5)
/frontend/src/context/ suryansh-svg
/frontend/src/hooks/ suryansh-svg